<script type="text/javascript">
    $(document).ready(function() {
        $("#calc").click(function() {
            var x = document.getElementById("x").value;
            var y = document.getElementById("y").value;
            $.ajax({
                url: "/api/math/calculate",
                method: "GET",
                data: { x: x, y: y },
                dataType: "html"
            }).done((response) => {
                var responseJSON = JSON.parse(response);
                console.log(responseJSON);
                $("#sum").text(responseJSON.Sum);
                $("#difference").text(responseJSON.Difference);
                $("#product").text(responseJSON.Product);
                $("#quotient").text(responseJSON.Quotient);
            });
        });
    });

    function callAPIVanilla() {
    var x = document.getElementById("x").value;
    var y = document.getElementById("y").value;
    
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var responseJSON = JSON.parse(this.responseText);        
            document.getElementById("sum").innerHTML = responseJSON.Sum;
            document.getElementById("difference").innerHTML = responseJSON.Difference;
            document.getElementById("product").innerHTML = responseJSON.Product;
            document.getElementById("quotient").innerHTML = responseJSON.Quotient;
        }
    };
    xhttp.open("GET", `/api/math/calculate?x=${x}&y=${y}`, true);
    xhttp.setRequestHeader('Content-type','application/json; charset=utf-8');

    xhttp.send();
}
    
</script>
<div>
    <h1>Calculations</h1>
    <form>
        x = <input type="text" id="x"/>
        y = <input type="text" id="y"/>
        <input type="button" id="calc" value="Call API (jQuery)" />
        <button type="button" onclick="callAPIVanilla()" >Call API (vanilla JS)</button>
    </form>
    x + y = <span id="sum"></span><br/>
    x - y = <span id="difference"></span><br/>
    x * y = <span id="product"></span><br/>
    x / y = <span id="quotient"></span><br/>
</div>